/*Inserta tu css aqui*/

/*Utilities*/
*{
	margin: 0;
	padding: 0;
	box-sizing:content-box;
}

[class*="col-"]{
	padding: 0;
	margin:0;
}

.container-dos{
	width: 65%;
}

.pr-25{
	padding-right: 25%;
}

.pl-25{
	padding-left: 25%;
}


.pr-10{
	padding-right: 10%;
}

.pl-5{
	padding-left: 5%;
}

/*Propiedades*/

body{
	background-color: #dfdfdf;
}

header{
		background-color: #009688;
		width: 100%;
		height: 80px;
		position: relative;
}

.flotante{
	width: 80%;
	position: absolute;
	top: 15px;
	margin: auto;
	left: 10%;
}


.box{
	background-color: #eeeeee;
	border: 1px solid #dadada;
	padding: 2%;
}

.foto{
	width: 8%;
	border-radius: 50%;	
}

.fotodos{
	width: 35px;
    height: 35px;
    border-radius: 100%;
    float: left;
}

.social{
	float:right;
	margin-top: 1%;
}

span.icon-message{
	color:#75747a;
	font-size: 20px;
	right:80%;
	position: relative;
	
}

span.icon-dots-three-vertical{
	color:#75747a;
	font-size: 18px;
	
	
}

span.icon-attachment{
	color:#75747a;
	font-size: 18px;
	right:80%;
	position: relative;
}

.logocode{
	width: 35px;
	height: 35px;
	border-radius: 100%;
	float: left;
	margin-left: 2%;
}

.boxse{
	background-color: #eeeeee;
	border: 1px solid #dadada;
	padding: 0.5%;
}

.boxdos{
	background-color:#fefefe;
	border: thin solid #f4f4f4;
	padding: 2%;
}

.contacto{
	padding: 3%;
}

.buscar{
	width: 84%;
    padding: 2% 4% 2% 12%;	
}

input {
        border-radius: 5px;
        border: 1px solid #ededed;
        padding: 0 4px 0 4px;
}

.corre{
		overflow:hidden;
		overflow-y:scroll;
		height: 450px;
		max-height:600px;
}

.icon-search{
	position: absolute;
	top: 13.5%;
    left: 9%;
	color: #cacac8;
}

p {
    margin: 0 0 0px;
}

.boxico{
	float: right;
	margin-top: 1%;
}

.inline{
	display: inline-block;
	padding-left: 2%;
}

.nombre{
	font-size: 15px;
	color: #4d4d4d;
}

.texto{
	font-size: 13px;
	color: gray;
}

.fh{
	font-size: 12px;
	color: #b0b0b0;
}

.fondo{
		background-image: url(../image/chat-panel-bg.png);
		background-color: #EAE6E1;
		width: 94%;
		min-height: 428px;
		padding: 3% 3%; 
		overflow:hidden;
		overflow-y:scroll;
		height: 100px;
		max-height:450px;
		
}

.chat{
		background-color: white;
		width:50%;
		border-radius: 8px;
		padding: 1% 2% 0% 2%;
		margin: 0.5%;
}

.celeste{
		color: #a2d1f1; 
}
.hora{
		margin-left:90%;
}
.rosa{
		margin: 0%;
		color: #C6E4F5;
}
.verde{
		color: #339933;
}

.respuesta{
		background-color: #DCF8C6;
		border-radius: 8px;
		padding: 1% 2% 0% 2%;
		margin: 0.25%;
}
.respuesta p{
		font-size: 13px;
		padding: 0%;
}
.clear{
		float: right;
		clear: right;
}
.hv{
		margin-left:82%;
}

.mt{
		margin-top: 15% !important;
}

.amarillo{
	color:#d7c667;
}

.write{
		width: 98%;
		background-color: #F2F0EE;
		padding: 1%;
	}
.icon{
		font-size: 25px;
    	margin: auto;
    	text-align: center;
    	color:#a8abad;
	}
.message1{
	width: 100%;
	padding: 1%;
}
